<?xml version="1.0"?>
<model>
  <name>yellow_tape_lines_427</name>
  <version>1.0</version>

  <sdf version="1.10">model.sdf</sdf>

  <author>
    <name>Cameron Carter</name>
    <email></email>
  </author>

  <description>
    Yellow tape floor markings model for Gazebo.
  </description>
</model>