<?xml version="1.0"?>
<model>
  <name>moein_fluorescent_ceiling_light</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>Moein</name>
    <email>none</email>
  </author>
  <description>
    Reusable fluorescent ceiling light model with real panel dimensions and downward spot light.
  </description>
</model>
