<?xml version="1.0"?>
<model>
  <name>mini_mover_conveyor</name>
  <version>1.0</version>

  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Jonathan Nguyen</name>
    <email>your_email@example.com</email>
  </author>

  <description>
    Mini-Mover conveyor belt model for Gazebo simulation.
  </description>
</model>
